@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.customHeroButton{
    transition: 0.5s;
    background-color: #b154b8;
    color: white;
    border: none;
    box-shadow: 0 0 35px #b154b8 ;
}
.customHeroButton:hover{ 
    background-color: #141414;
    color: white;
}
.customLogo{
    font-size: 20px;
    color: #949cac;
}
.customLogoStyle{
    color: #949cac;
    transition: 0.5s;
}
.customLogoStyle:hover{
    color: #b154b8;
    cursor: pointer;
}
.customHeroImage{
    max-width: 100%;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
    from{
        transform: translateY(12px);
    }
    to{
        transform: translateY(-10px);
    }
}

h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #3e4450;
    font-family: 'Raleway', sans-serif;
}
h2{
    font-size: 24px;
    font-weight: 400;
    color: #858ea1;
    font-family: 'Raleway', sans-serif;
}
@media only screen and (max-width: 768px){
    
    h1{
        font-size: 28px;
        line-height: 36px;
    }
    h2{
        font-size: 18px;
    }
    .customHeroImage{
        /* padding: 55px; */
        position: relative;
        top: 10vh;
        animation: none;
        
    }
    .customHeroButton{
        font-size: 16px;
    }
   
}