@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
.teamSection{
    background-color: #F9F9FA;
    text-align: center;
}
.teamSection p{
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.teamShadow{
    font-weight: bold;
    font-size: 52px;
    color:  #f0f1f3;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}
.teamHead{
    position: relative;
    bottom: 5vh;
    font-size: 32px;
    font-weight: 700;
    color: #5f687b;
    text-transform: uppercase;
}